@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
 padding-top: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 2px solid white;
}

.stats_list {
  list-style-type: none;
  margin: 0;
}

.stats_box {
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  width: 438px;
  text-align: left;
  float: left;
  padding: 10px;
}

.stats_list .stats_box:nth-child(odd) {
  margin-right: 10px;
}

.stats_list .stats_box:nth-child(even) {
  margin-left: 10px;
}

.glyphicon {
  float: left;
  margin-right: 6px;
}

.panel-body {
  font-size: 1.2em;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.lighter {
  font-weight: lighter;
}

.text-center {
  line-height: 1em;
}


/* header */

#logo {
  vertical-align: middle;
  font-size: 1.7em;
  color: #35d1ff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 20px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #81e2ff;
  text-decoration: none;
}

img {
  padding: 5px;
}

.pagination {
    text-align: center;
}

/* footer */

footer {
  margin-top: 45px;
  margin-bottom: 10px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #A8A8A8;
} 

footer a {
  color: #A8A8A8;
  text-decoration: none;
  &:hover {
  text-decoration: none;
  color: #696969;
  }
}

footer small {
  float: left;
}