.label.Approve {
    background-color: lighten(green, 15%);
}

.label.Review {
    background-color: lighten(blue, 15%);
}

.label.Translate {
    background-color: orange;
}

.label.Subtitle {
    background-color: lighten(red, 10%);
}
