<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to( image_tag("/assets/logo.png"), "/" ) %>
      <%= link_to "OTP Stats", '/', id: "logo" %>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Activity", '/activity' %></li>
      </ul>
    </div>
  </div>
</nav>
